.todo {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  min-height: 400px;
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(138, 136, 136);
}

.inputfield {
  display: flex;
  flex-direction: row;
  width: calc(100% - 5%);
  margin: 0 auto;
}

.input {
  opacity: 0.5;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(116, 116, 155, 0.5);
}
.input:placeholder {
  color: rgba(96, 96, 115, 0.5);
}

.input:focus {
  border: 1px solid rgba(116, 116, 155, 0.8);
  opacity: 0.8;
}

.add {
  width: 80px;
  background-color: rgba(92, 92, 203, 0.8);
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  transition: background-color 0.7 ease-in-out;
}

.add:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 203, 1);
}

ul {
  padding: 15px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  margin-bottom: 9px;
  padding: 5px;
  border-radius: 20px;
}

li input:checked + span {
  text-decoration: line-through;
  text-decoration-color: rgba(57, 57, 67, 0.8);
  opacity: 0.6;
}

li span {
  margin-right: auto;
  margin-left: 10px;
}

svg {
  opacity: 0.5;
  padding-top: 4px;
  transition: opacity 0.7 ease-in-out;
}

svg:hover {
  cursor: pointer;
  opacity: 0.8;
}
