.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.todo {
  text-align: center;
  width: 100%;
  margin: 18px 92px 57px 124px;
  border-radius: 30px;
  padding: 20px;
  background-image: linear-gradient(-30deg, #ff0000, #8600ff, #f4afcf);
}

@media (max-width: 1200px) {
  .todo {
    margin: 18px 52px 57px 94px;
  }
}

@media (max-width: 860px) {
  .todo {
    margin: 18px 32px 57px 54px;
  }
}

.inputfield {
  display: flex;
  flex-direction: row;
  width: calc(100% - 5%);
  margin: 0 auto;
}

.input {
  opacity: 0.5;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(116, 116, 155, 0.5);
}
.input:placeholder {
  color: rgba(96, 96, 115, 0.5);
}

@media (max-width: 860px) {
  .input {
    font-size: 10px;
  }
}

.input:focus {
  border: 1px solid rgba(116, 116, 155, 0.8);
  opacity: 0.8;
}

.add {
  width: 80px;
  background-color: rgba(92, 92, 203, 0.8);
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  transition: background-color 0.7 ease-in-out;
}

.add:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 203, 1);
}

ul {
  padding: 15px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;
  padding: 5px;
  color: white;
  border-bottom: 1px solid gold;
}

li input:checked + span {
  text-decoration: line-through;
  text-decoration-color: rgba(57, 57, 67, 0.8);
  opacity: 0.6;
}

li span {
  margin-right: auto;
  margin-left: 10px;
}

svg {
  padding-top: 4px;
  transition: opacity 0.7 ease-in-out;
}

svg:hover {
  cursor: pointer;
  opacity: 0.8;
}
img {
  height: 661px;
}

@media (max-width: 1200px) {
  img {
    width: 529px;
  }
}

@media (max-width: 960px) {
  img {
    width: 429px;
    height: 431px;
  }
}
@media (max-width: 760px) {
  img {
    width: 329px;
    height: 331px;
  }
}
@media (max-width: 650px) {
  img {
    display: none;
  }
}
